<header class="d-flex flex-wrap justify-content-between align-items-center py-3 px-3 mb-4 border-bottom">
  <span class="mb-0 align-items-center justify-item-start fs-1">
    <a href="/">Shaw Code Blog</a>
  </span>
  <%- include('./nav'); %>
</header>